


/* - - - - - - - - - - -NavBar- - - - - - - - -*/


#menuIcon {
    height: 20px;
    margin-left: 40px;
    color: white;

}

#logo-small {
    margin-left: 10px;
    padding: 100px;
    color: white;

}
#nameLogo {
    margin-top: -27px;
    margin-Left: 80px;
    font-size: 1.75rem;
    color: white;
    
}


/* - - - - - - - - - - -Section 1 - - - - - - - - -*/
#section1 {

    background-image: url('../images/bg_section1.1.jpg');
}

#section1h1 {
    padding: 25%;
    color: white;

}

#section1p1 {
  
    color: white;
}

/* - - - - - - - - - - -Section 2 - - - - - - - - -*/
#section2 {
    background-image: url('../images/bg_section1.0.jpg');
    padding: 15%;
    color: white;
}

/* - - - - - - - - - - -Section 3 - - - - - - - - -*/
#section3 {
    background-color: cadetblue;

}

#section3h1 {
    padding: 30%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;


}

/* - - - - - - - - - - -Footer - - - - - - - - -*/
#footer {}
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: grey;
}