
body {
    background: black;
}


/* - - - - - - - - - - -NavBar- - - - - - - - -*/


#menuIcon {
    height: 20px;
    margin-left: 40px;
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;


}

#menuIcon :hover {
    color: red;
}

#navName {
    height: 20px;
    margin-top: -19px;
    margin-left: 1125px;
    color: white;
    font-family: "PT Sans";
    font-size: 1.75rem;
    font-weight: bolder;
}

#logo-small {
    margin-left: 10px;
    padding: 100px;
    color: white;

}

#nameLogo {
    margin-top: -27px;
    margin-Left: 90px;
    font-size: 1.75rem;
    color: white;

}

#pj1 {
    margin-left: 42px;
}
#pj2 {
    margin-left: 42px;
}
#pj3 {
    margin-left: 42px;
}


/* - - - - - - - - - - -Section 1 - - - - - - - - -*/
#section1 {

    background-image: url('../images/bg_section1.3.jpg');
    border: double white 1.9rem;
}


#section1-h1-1 {
    margin-top: 20%;

    color: white;
    font-size: 2.3rem;

}

#section1-h1-2 {

    color: white;

}

#section1p1 {

    color: white;
}

/* - - - - - - - - - - -Section 2 - - - - - - - - -
#section2 {
    background-image: url('../images/bg_section1.1.jpg');
    padding: 15%;
    
} */


/* - - - - - - - - - - - about me section- - - - - - - - -*/
#About-Me {
  background-image: url('../images/bg_section1.0.jpg');
  height: 800px;
  width: 1400px;
  margin-left: 20px;
}
p {
    color: white;
}
/* - - - - - - - - - - - Landing- - - - - - - - -*/
#chevrondown {
    color: white;
    margin: 40px 20px 40px 670px;
}

/* - - - - - - - - - - -Section 3 - - - - - - - - -*/
#section3 {
    background-color: cadetblue;

}

#section3h1 {
    padding: 30%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;


}

/* - - - - - - - - - - -Footer - - - - - - - - -*/
#footer {
    height: 10px;
    padding: 70px;
    font-size: .95rem;
    font-weight: bold;
    font-family: "PT Sans";
    background-color:skyblue ;
    color: white;
   
}